section.about-section
  .wrapper
    .about-section__container
      .about-section__round-orange
      .about-section__round-gradient
      .about-section__top
        .about-section__text.font-s-18
          span.font-w-semi-bold Наша команда зарабатывает на лечении домашних 
          br.no-br
          span.font-w-semi-bold животных с 2017 года. 
          | За это время мы создали 
          br.no-br
          | универсальную клинику и оказываем широкий спектр 
          br.no-br
          | ветеринарных услуг для ваших любимых четвероногих 
          br.no-br
          | и пернатых
          br
          br
          | Мы ведем прием по предварительной записи, оказываем 
          br.no-br
          | срочную помощь, предоставляем стационар на время 
          br.no-br
          | лечения и гостиницу на время отпуска, консультируем по 
          br.no-br
          | вопросам диеты, прививок и профилактики заболеваний
          br
          br
          span.font-w-semi-bold МЯУЛАЙ 
          | занимается также продажей медицинских 
          br.no-br
          | препаратов и лечебного корма для животных. Кроме этого 
          br.no-br
          | наша клиника предоставляет услуги груминга, где 
          br.no-br
          | трудятся опытные мастера своего дела
          br
          br
          span.font-w-semi-bold За 7 лет работы 
          | мы накопили большой опыт по лечению, 
          br.no-br
          | уходу и содержанию домашних питомцев. Мы научились 
          br.no-br
          | хорошо зарабатывать на нашем деле и хотим поделиться 
          br.no-br
          | этим знанием, поэтому мы с радостью приглашаем вас к 
          br.no-br
          | сотрудничеству
        img.about-section__img(src="images/about-section-img.png" loading="lazy" width="1064" height="960" alt="image")
      h2.about-section__title.font-w-bold.font-s-50
        span.color-orange 4 причины открыть 
        br.no-br
        | собственную ветклинику
      .swiper-about
        .about-section__cards.swiper-wrapper
          .about-section__card.swiper-slide
            img.about-section__card-icon(src="images/about-section-card-icon-1.png" loading="lazy" width="186" height="182" alt="icon")
            .font-s-18
              | Стабильно высокий 
              br.no-br
              | спрос и широкие 
              br.no-br
              | возможности
          .about-section__card.swiper-slide
            img.about-section__card-icon(src="images/about-section-card-icon-2.png" loading="lazy" width="186" height="182" alt="icon")
            .font-s-18
              | Большая 
              br.no-br
              | маржинальность 
              br.no-br
              | и высокая 
              br.no-br
              | рентабельность
          .about-section__card.swiper-slide
            img.about-section__card-icon(src="images/about-section-card-icon-3.png" loading="lazy" width="186" height="182" alt="icon")
            .font-s-18
              | Надежная 
              br.no-br
              | и проверенная 
              br.no-br
              | финансовая модель
          .about-section__card.swiper-slide
            img.about-section__card-icon(src="images/about-section-card-icon-4.png" loading="lazy" width="186" height="182" alt="icon")
            .font-s-18
              | Самореализация 
              br.no-br
              | и статус хозяина 
              br.no-br
              | ветклиники
        .about-pagination.swiper-progress-about
      .about-section__bottom-title.font-s-32.text-center
        span.font-w-bold Узнайте о других 
        br.no-br
        span.font-w-bold преимуществах бизнеса 
        br.no-br
        | по франшизе МЯУЛАЙ
      .font-w-light.font-s-20.text-center Скачайте подробную презентацию
      form.about-section__form(data-feedback-form)
        input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
        input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        button.btn(type="submit") Скачать
