.agree
  .agree__container
    img.agree__checkbox(src="images/checkbox.svg" loading="lazy" width="14" height="14" alt="checkbox")
    .font-w-regular.font-s-12
      | Я принимаю 
      a(href="#" data-remodal-target="privacy").agree__privacy Политику конфиденциальности

