section.details-section
  .wrapper
    .details-section__container
      h2.details-section__title.font-w-regular.font-s-48.text-center
        | Таким будет ваш салон
      .swiper-details
        .details-section__cards.swiper-wrapper
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-1.jpg" loading="lazy" width="760" height="520" alt="image")
          .details-section__card.details-section__card-2.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-2.jpg" loading="lazy" width="760" height="520" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-3.jpg" loading="lazy" width="760" height="520" alt="image")
          .details-section__card.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-4.jpg" loading="lazy" width="760" height="640" alt="image")
          .details-section__card.swiper-slide.details-card-transform
            img.details-section__card-img(src="images/details-section-card-img-5.jpg" loading="lazy" width="760" height="640" alt="image")
        .details-pagination.swiper-progress-details
      img.details-section__img-2-desktop(src="images/details-section-card-img-2-desktop.jpg" loading="lazy" width="760" height="1200" alt="image")
