section.finances-section
  .wrapper
    .finances-section__container
      img.finances-section__gem-large(src="images/finances-section-gem-large.png" loading="lazy" width="290" height="290" alt="image")
      img.finances-section__gem-small(src="images/finances-section-gem-small.png" loading="lazy" width="114" height="114" alt="image")
      img.finances-section__polish(src="images/finances-section-polish.png" loading="lazy" width="1179" height="1330" alt="image")
      h2.finances-section__title.font-w-bold.font-s-40
        | Франшиза 
        span.color-pink Жужа 
        | в цифрах
      .finances-section__sub-title.font-s-20
        | Сотрудничая с нами вы можете рассчитывать на:
      .swiper-finances
        .finances-section__cards.swiper-wrapper
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="169" height="254" alt="icon")
            .font-w-bold.font-s-40.color-pink от 41 000 ₽
            .font-s-22
              | Средняя чистая 
              br.no-br
              | ежемесячная 
              br.no-br
              | прибыль
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="169" height="254" alt="icon")
            .font-w-bold.font-s-40.color-pink от 0,8 млн ₽
            .font-s-22
              | Первоначальные 
              br.no-br
              | инвестиции
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="169" height="254" alt="icon")
            .font-w-bold.font-s-40.color-pink от 0,5 млн ₽
            .font-s-22
              | Средняя чистая 
              br.no-br
              | годовая прибыль
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="169" height="254" alt="icon")
            .font-w-bold.font-s-40.color-pink от 40,6%
            .font-s-22
              | Рентабельность 
              br.no-br
              | по чистой 
              br.no-br
              | прибыли
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="169" height="254" alt="icon")
            .font-w-bold.font-s-40.color-pink 1 месяц
            .font-s-22
              | Чтобы начать 
              br.no-br
              | зарабатывать
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="169" height="254" alt="icon")
            .font-w-bold.font-s-40.color-pink от 21 месяца
            .font-s-22
              | Срок окупаемости 
              br.no-br
              | вашего бизнеса
        .finances-pagination.swiper-progress-finances
      .finances-section__bottom
        .finances-section__bottom-left
          .font-w-bold.font-s-20.text-up
            | Ознакомьтесь детально с 
            br.no-br
            span.color-pink финансовыми расчетами 
            br.no-br
            | вашего будущего бизнеса
          .font-s-22
            | Скачайте 
            span.color-pink финансовую 
            br.no-br
            span.color-pink модель 
            | Жужа
        .finances-section__bottom-right
          img.finances-section__bottom-img(src="images/finances-section-bottom-img.png" loading="lazy" width="900" height="606" alt="image")
          form.finances-section__form(data-feedback-form)
            input.input.input--secondary(type="text" name="name" autocomplete="off" placeholder="Имя")
            input.input.input--secondary(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
            button.btn(type="submit") Получить

section.income-section
  .wrapper
    .income-section__container
      img.income-section__gem-large(src="images/finances-section-gem-large.png" loading="lazy" width="290" height="290" alt="image")
      img.income-section__gem-small(src="images/finances-section-gem-small.png" loading="lazy" width="114" height="114" alt="image")
      h2.income-section__title.font-w-bold.font-s-40
        | Мы 
        span.color-pink научим 
        | вас 
        span.color-pink зарабатывать
      .swiper-income
        .income-section__cards.swiper-wrapper
          .income-section__card.swiper-slide
            img.income-section__card-icon(src="images/income-section-card-icon-1.png" loading="lazy" width="176" height="176" alt="icon")
            .font-s-20
              | Жужа — это школа ногтевого 
              br.no-br
              | сервиса, которая успешно 
              br.no-br
              | работает 14 лет.
          .income-section__card.swiper-slide
            img.income-section__card-icon(src="images/income-section-card-icon-2.png" loading="lazy" width="176" height="176" alt="icon")
            .font-s-20
              | Мы знаем, как запустить 
              br.no-br
              | прибыльный бизнес 
              br.no-br
              | в кратчайшие сроки.
          .income-section__card.swiper-slide
            img.income-section__card-icon(src="images/income-section-card-icon-3.png" loading="lazy" width="176" height="176" alt="icon")
            .font-s-20
              | Мы умеем зарабатывать 
              br
              | и научим этому вас.
        .income-pagination.swiper-progress-income
      .income-section__bottom-title.font-w-semi-bold.font-s-20
        | Команда 
        span.color-pink “Жужа” 
        | с радостью приглашает вас к 
        span.color-pink взаимовыгодному сотрудничеству
        | .
