header.header-thanks
  .header-thanks__container
    .header-thanks__brand
      img.header-thanks__logo(src="images/logo-header.png" loading="lazy" width="570" height="230" alt="logo")
      .header-thanks__line
      .header-thanks__brand-text.font-s-14
        span.font-w-bold.color-pink ЖУЖА
        br
        | Франшиза школы
        br
        | ногтевого сервиса
    .header-thanks__connection
      a(href="tel:+70000000000")
        img.header-thanks__connection-icon(src="images/connection-icon.svg" loading="lazy" width="19" height="19" alt="icon")
      include ../components/phone-number.pug

      //- .header__call-me.font-s-12(data-remodal-target="modal-form-call-me") Обратный звонок
