section.presentation-section
  .wrapper
    .presentation-section__container
      .presentation-section__title-wrapper
        h2.presentation-section__title.font-w-j-bold.font-s-44.text-up
          | Так будет выглядеть 
          br
          span.color-blue ваша первая торговая точка
        .presentation-section__sub-title
          img.presentation-section__sub-title-icon(src="images/presentation-section__sub-title-icon.svg" loading="lazy" width="44" height="44" alt="icon")
          .presentation-section__sub-title-text.font-s-26
            | уже 
            span.font-w-bold через 1 месяц 
            br.no-br
            | после старта
      .swiper-desktop
        .presentation-section__cards.swiper-wrapper
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img1.jpg" loading="lazy" width="760" height="860" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img2.jpg" loading="lazy" width="760" height="860" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img3.jpg" loading="lazy" width="760" height="860" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img4.jpg" loading="lazy" width="760" height="860" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img5.jpg" loading="lazy" width="760" height="860" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img6.jpg" loading="lazy" width="760" height="860" alt="image")
        .desktop-pagination
        .swiper-buttons
          button.button-prev(aria-label="prev")
            img(src="images/presentation-section-btn.png" loading="lazy" width="112" height="112" alt="prev")
          button.button-next(aria-label="next")
            img(src="images/presentation-section-btn.png" loading="lazy" width="112" height="112" alt="next")
