section.reasons-section
  .wrapper
    .reasons-section__container
      img.reasons-section__gem-large(src="images/finances-section-gem-large.png" loading="lazy" width="290" height="290" alt="image")
      img.reasons-section__gem-small(src="images/finances-section-gem-small.png" loading="lazy" width="114" height="114" alt="image")
      img.reasons-section__polish(src="images/reasons-section-polish.png" loading="lazy" width="1748" height="1799" alt="image")
      h2.reasons-section__title.font-w-bold.font-s-40
        | 4 причины открыть 
        span.color-pink свою 
        br.no-br
        span.color-pink школу 
        | ногтевого сервиса
      .swiper-reasons
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-1.png" loading="lazy" width="196" height="198" alt="icon")
            .font-w-semi-bold.font-s-20.text-center
              | Стабильно высокий спрос 
              br
              | и широкие возможности
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-2.png" loading="lazy" width="196" height="197" alt="icon")
            .font-w-semi-bold.font-s-20.text-center
              | Большая маржинальность 
              br
              | и высокая рентабельность
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-3.png" loading="lazy" width="196" height="197" alt="icon")
            .font-w-semi-bold.font-s-20.text-center
              | Надежная и проверенная 
              br
              | финансовая модель
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-4.png" loading="lazy" width="196" height="197" alt="icon")
            .font-w-semi-bold.font-s-20.text-center
              | Самореализация и статус 
              br
              | хозяина бизнеса
        .reasons-pagination.swiper-progress-reasons
      .reasons-section__bottom
        .reasons-section__bottom-left
          .font-w-bold.font-s-20.text-up
            | Узнайте о других 
            br.no-br
            span.color-pink преимуществах бизнеса 
            br.no-br
            | по франшизе ЖУЖА
          .font-s-22
            | Скачайте подробную 
            br.no-br
            span.color-pink презентацию
        .reasons-section__bottom-right
          img.reasons-section__bottom-img(src="images/reasons-section-bottom-img.png" loading="lazy" width="858" height="632" alt="image")
          form.reasons-section__form(data-feedback-form)
            input.input.input--secondary(type="text" name="name" autocomplete="off" placeholder="Имя")
            input.input.input--secondary(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
            button.btn(type="submit") Скачать
