section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__gem-large(src="images/finances-section-gem-large.png" loading="lazy" width="290" height="290" alt="image")
      img.steps-section__gem-small(src="images/finances-section-gem-small.png" loading="lazy" width="114" height="114" alt="image")
      img.steps-section__polish(src="images/steps-section-polish.png" loading="lazy" width="1299" height="1342" alt="image")
      h2.steps-section__title.font-w-bold.font-s-40
        span.color-pink 9 
        | простых 
        span.color-pink шагов 
        | для 
        br.no-br
        | запуска 
        span.color-pink вашего бизнеса
      .steps-section__sub-title.font-s-20
        | Ознакомьтесь с ключевыми этапами совместной работы
      .swiper-steps
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="169" height="194" alt="icon")
            .font-s-22
              | Заключаем договор 
              br.no-br
              | франшизы
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="169" height="194" alt="icon")
            .font-s-22
              | Ищем помещение и 
              br
              | подписываем договор 
              br.no-br
              | аренды
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="169" height="194" alt="icon")
            .font-s-22
              | Проводим ремонт и 
              br
              | оформляем 
              br.no-br
              | помещение
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="169" height="194" alt="icon")
            .font-s-22
              | Осуществляем поиск 
              br.no-br
              | персонала
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="169" height="194" alt="icon")
            .font-s-22
              | Производим заказ, 
              br.no-br
              | доставку и монтаж 
              br.no-br
              | оборудования и мебели
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="169" height="194" alt="icon")
            .font-s-22
              | Формируем первичные 
              br.no-br
              | запасы товара и 
              br.no-br
              | расходных материалов
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="169" height="194" alt="icon")
            .font-s-22
              | Осуществляем 
              br.no-br
              | настройку рекламы
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="169" height="194" alt="icon")
            .font-s-22
              | Проводим обучение
              br.no-br
              | персонала
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.png" loading="lazy" width="169" height="194" alt="icon")
            .font-s-22
              | Торжественно 
              br.no-br
              | открываем студию и 
              br.no-br
              | начинаем зарабатывать
        .steps-pagination.swiper-progress-steps
      .steps-section__bottom
        img.steps-section__bottom-img(src="images/steps-section-bottom-img.png" loading="lazy" width="798" height="454" alt="image")
        .font-w-bold.font-s-20.text-up
          | Работаем строго по 
          br.no-br
          | договору, в котором 
          br.no-br
          | описаны наши 
          br.no-br
          span.color-pink обязанности 
          |  и все 
          br.no-br
          span.color-pink условия сотрудничества
        button.btn.btn--secondary.steps-section__bottom-btn(data-remodal-target="modal-form-agreement") Скачать пример договора


      //- .steps-section__cards-wrapper
      //-   .swiper-steps
      //-     .steps-section__cards.swiper-wrapper
      //-       .steps-section__card.swiper-slide.steps-section__card-line
      //-         .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 01
      //-         .font-s-18 Заключаем договор <br> франшизы
      //-       .steps-section__card.swiper-slide
      //-         .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 02
      //-         .font-s-18 Ищем помещение <br> и подписываем договор <br> аренды
      //-       .steps-section__card.swiper-slide
      //-         .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 03
      //-         .font-s-18 Проводим ремонт и <br> оформляем помещение
      //-       .steps-section__card.swiper-slide.steps-section__card-line
      //-         .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 04
      //-         .font-s-18 Получаем разрешения <br> и согласования в гос <br> инстанциях
      //-       .steps-section__card.swiper-slide
      //-         .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 05
      //-         .font-s-18 Осуществляем <br> поиск персонала
      //-       .steps-section__card.swiper-slide
      //-         .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 06
      //-         .font-s-18 Производим заказ, доставку <br> и монтаж оборудования <br> и мебели
      //-       .steps-section__card.swiper-slide.steps-section__card-line
      //-         .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 07
      //-         .font-s-18 Формируем первичные <br> запасы товара и <br> расходных материалов
      //-       .steps-section__card.swiper-slide
      //-         .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 08
      //-         .font-s-18 Проводим обучение <br> персонала
      //-       .steps-section__card.swiper-slide
      //-         .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 09
      //-         .font-s-18 Открываем МЯУЛАЙ <br> и начинаем зарабатывать
      //-     .steps-pagination.swiper-progress-steps
      //- .steps-section__bottom-title.font-s-32
      //-   span.font-w-bold Работаем строго по договору, 
      //-   br.no-br
      //-   | в котором описаны наши обязанности и все 
      //-   br.no-br
      //-   | условия сотрудничества
      //- button.btn.steps-section__bottom-btn(data-remodal-target="modal-form-agreement") Скачать пример договора
      //- img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="1516" height="798" alt="image")
