section.support-section
  .wrapper
    .support-section__container
      h2.support-section__title.font-w-bold.font-s-40
        | Откройте 
        span.color-pink собственный 
        br.no-br
        span.color-pink бизнес 
        | за 1 месяц
      .support-section__sub-title.font-s-20
        | Команда Жужа поддержит вас на всех этапах
      .swiper-support
        .support-section__cards.swiper-wrapper
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="44" height="44" alt="icon")
            .font-s-20 Предоставим очное обучение (за доп плату)
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="44" height="44" alt="icon")
            .font-s-20 Направим команду специалистов для торжественного открытия (за доп плату)
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="44" height="44" alt="icon")
            .font-s-20 Обеспечим ведение бухгалтерии (за доп плату)
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="44" height="44" alt="icon")
            .font-s-20 Научим продвигать и развивать свой бренд
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="44" height="44" alt="icon")
            .font-s-20 Подключим к закрытому сообществу
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="44" height="44" alt="icon")
            .font-s-20 Добавим на официальный сайт
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="44" height="44" alt="icon")
            .font-s-20 Предоставим любые консультации касательно нашего бизнеса
        .support-pagination.swiper-progress-support
      .support-section__bottom
        img.support-section__bottom-img(src="images/support-section-bottom-img.png" loading="lazy" width="800" height="554" alt="image")
        .font-w-bold.font-s-20.text-up
          | Получите 
          span.color-pink подробный 
          br.no-br
          span.color-pink план 
          | по открытию 
          br.no-br
          span.color-pink ЖУЖА
        form.support-section__form(data-feedback-form)
          input.input.input--secondary(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.input--secondary(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") получить
