.agree
  &__container
    color: #FFF
    display: flex
    gap: 8px
    margin-top 10px
    +above($breakpoints.sm)
      margin-top 16px

  &__privacy
    text-decoration: underline
    cursor pointer
