// .footer-thanks
//   // background-image: url('../images/footer-bg.jpg')
//   // background-repeat: no-repeat
//   // background-position: center
//   // background-size: cover
//   background-color #fff

//   &__container
//     display: flex
//     flex-direction: column
//     align-items: center
//     gap: 10px
//     padding 15px 0 15px 0
//     +above($breakpoints.sm)
//       padding 25px 0 25px 0
//       justify-content space-between
//       flex-direction: row
//     +above($breakpoints.md)
//       padding 35px 0 35px 0
//     +above($breakpoints.xxl)
//       padding 58px 0 57px 0

//   &__text
//     display: none
//     +above($breakpoints.sm)
//       display: flex
//       flex-direction: column
//       gap: 3px

//   &__logo
//     width 100px
//     height: auto
//     +above($breakpoints.sm)
//       width 150px
//     +above($breakpoints.md)
//       width 180px
//     +above($breakpoints.xxl)
//       width 221px

//   &__privacy
//     cursor pointer
//     text-decoration: underline
//     color: #164662

//   &__privacy-desk
//     cursor pointer
//     text-decoration: underline
//     color: #164662
//     +above($breakpoints.sm)
//       display: none

//   &__connection
//     display: flex
//     flex-direction: row
//     gap: 5px
//     +above($breakpoints.sm)
//       align-items: center

//   &__connection-icon
//     width 25px
//     height: 25px
//     +above($breakpoints.sm)
//       width 30px
//       height: 30px
