.swiper-main
  margin: 0 auto
  width 260px !important
  +above($breakpoints.sm)
    width 100% !important
  .swiper-wrapper
    +above($breakpoints.sm)
      transform: translate3d(0px, 0px, 0px) !important

.swiper-finances
  margin: 0 auto
  width 280px !important
  +above($breakpoints.sm)
    width 100% !important
  .swiper-wrapper
    +above($breakpoints.sm)
      transform: translate3d(0px, 0px, 0px) !important

.swiper-income
  margin: 0 auto
  width 280px !important
  +above($breakpoints.sm)
    width 100% !important
  .swiper-wrapper
    +above($breakpoints.sm)
      transform: translate3d(0px, 0px, 0px) !important

.swiper-reasons
  margin: 0 auto
  width 280px !important
  +above($breakpoints.sm)
    width 100% !important
  .swiper-wrapper
    +above($breakpoints.sm)
      transform: translate3d(0px, 0px, 0px) !important

.swiper-support
  margin: 0 auto
  width 280px !important
  +above($breakpoints.sm)
    width 100% !important
  .swiper-wrapper
    +above($breakpoints.sm)
      transform: translate3d(0px, 0px, 0px) !important

.swiper-steps
  margin: 0 auto
  width 280px !important
  +above($breakpoints.sm)
    width 100% !important
  .swiper-wrapper
    +above($breakpoints.sm)
      transform: translate3d(0px, 0px, 0px) !important

.swiper-owner
  margin: 0 auto
  width 308px !important
  +above($breakpoints.sm)
    width 100% !important
  .swiper-wrapper
    +above($breakpoints.sm)
      transform: translate3d(0px, 0px, 0px) !important

.swiper-invest
  margin: 0 auto
  width 280px !important
  +above($breakpoints.sm)
    width 100% !important
  .swiper-wrapper
    +above($breakpoints.sm)
      transform: translate3d(0px, 0px, 0px) !important

.swiper-desktop
  margin: 0 auto
  width 308px !important
  overflow: hidden
  +above($breakpoints.sm)
    width 100% !important
    overflow: hidden
  +above($breakpoints.md)
    width 100% !important
    overflow: hidden
  +above($breakpoints.xxl)
    width 100% !important
    overflow: hidden
  +above($breakpoints.xxxl)
    width 100% !important
    overflow: hidden
